.header__lang-link{
  font-size: 18px;
  color: #fff;
  opacity: .7;
  transition: opacity .3s ease;
  text-decoration: none;
}

.header__lang-link:hover{
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header__lang-link{
    font-size: 24px;
  }
}
